/ttest*
/s3.*

/assets_sync_*

/spec/screenshots/
/public/source_maps
.DS_*
/docs/*
/db/elasticsearch/
/log/elasticsearch/
/.env
/.env.*
/.sass*
/.bundle

/db/*.sqlite3

/log/*.log
/tmp

/.zeus*
/custom_plan.rb
